@import './fonts.scss';
@import './nullstyle.scss';


:root {
	--text-white: #FFFFFF;

}

@mixin subtitle {
	font-size: 16px;
	letter-spacing: 0.6em;
	text-align: center;
	color: #474747;
	text-transform: uppercase;
	margin-bottom: 27px;
}

@mixin title {
	font-size: 46px;
	font-weight: 700;
	text-align: center;
	color: #2D2D2D;
	margin-bottom: 111px;
}

@mixin block {
	background-color: #fff;
	width: 100%;
	transform: skewY(-6deg);
	position: absolute;
	overflow: hidden;
	z-index: -1;
}

@mixin background {
	position: fixed;
	visibility: hidden;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	z-index: -3;
}



.container {
	max-width: 1737px;
	width: 100%;
	height: 100%;
	margin: 0 auto;
	padding: 0 10px;
}

.container.relative {
	position: relative;
	display: flex;
	flex-direction: column;
}

.header {
	width: 100%;
	position: absolute;
	z-index: 3;

	&__navigation {

		display: flex;
		justify-content: space-between;
		align-items: center;
		margin: 48px 10px 0;
	}

	&__button {
		display: flex;
		justify-content: flex-end;
		align-items: flex-end;
	}

	&__burger {
		width: 31.61px;
		height: 3.23px;
		border-radius: 1.43px;
		background-color: #FAFAFA;

		&::before {
			content: '';
			display: block;
			transform: translate(-3px, -9px);
			// transform: translateY(-9px);
			width: 35px;
			height: 3.23px;
			border-radius: 1.43px;
			background-color: #FAFAFA;
		}

		&::after {
			content: '';
			display: block;
			transform: translate(2px, 6px);
			// transform: translateY(6px);
			width: 28.64px;
			height: 3.23px;
			border-radius: 1.43px;
			background-color: #FAFAFA;
		}
	}

	&__list {
		display: flex;
		justify-content: space-between;


	}

	&__item {
		font-size: 18px;
		color: var(--text-white);

		&:not(:last-child) {
			margin-right: 65px;
		}
	}

}

.explore {
	height: 100vh;
	padding-bottom: 81px;

	&__wrap {
		padding-top: 378px;
	}

	&__headline {
		max-width: 1009px;
		width: 100%;
		margin: 0 auto 50px;
		z-index: 3;
		position: relative;
	}

	&__subtitle-main {
		text-align: center;
		font-size: 30px;
		font-weight: 500;
		letter-spacing: .7em;
		color: var(--text-white);
	}

	&__title {
		font-size: 250px;
		font-weight: 700;
		color: var(--text-white);
	}

	&__title::first-letter {

		background-image: linear-gradient(45deg, #6D6D6D 10%, #fff 50%, #fff);
		color: transparent;
		background-clip: text;
		-webkit-background-clip: text;
	}

	&__links {
		position: absolute;
		top: 50%;
		left: 1%;
		z-index: 3;
	}

	&__item:not(:last-child) {
		margin-bottom: 30px;
	}

	&__navigation {
		position: absolute;
		display: flex;
		align-items: center;
		bottom: 0;
		left: 1%;
		z-index: 3;
		writing-mode: tb-rl;
		transform-origin: right;
		transform: rotate(180deg);
	}

	&__arrow {
		transform: rotate(180deg);
		margin-bottom: 21px;
	}

	&__ref {
		font-size: 14px;
		color: var(--text-white);
		letter-spacing: 0.1em;
	}
}

.slider-background {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;

	&__slide {
		position: relative;
		height: 100vh;
		width: 100%;

		&::after {
			content: '';
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			background: linear-gradient(180deg, rgba(0, 0, 0, 0.5158657212885154) 0%, rgba(0, 0, 0, 0.12931109943977592) 56%, rgba(255, 255, 255, 0.01726628151260501) 100%);
			width: 100vw;
			height: 200px;
		}
	}

	&__slide-1 {
		background-image: url('/images/background_main.jpg');
		background-repeat: no-repeat;
		background-size: cover;
		// height: 100vh;
	}

	&__slide-2 {
		background-image: url('/images/background_3.jpg');
		background-repeat: no-repeat;
		background-size: cover;
		// height: 100vh;
	}

	&__slide-3 {
		background-image: url('/images/background_4.jpg');
		background-repeat: no-repeat;
		background-size: cover;
		// height: 100vh;
	}

	&__slide-4 {
		background-image: url('/images/background_5.jpg');
		background-repeat: no-repeat;
		background-size: cover;
		// height: 100vh;
	}

	&__slide-5 {
		background-image: url('/images/background_6.jpg');
		background-repeat: no-repeat;
		background-size: cover;
		// height: 100vh;
	}

	&__slide-6 {
		background-image: url('/images/background_7.jpg');
		background-repeat: no-repeat;
		background-size: cover;
		// height: 100vh;
	}


	&__button-next::after {
		position: absolute;
		font-size: 20px;
		color: #686B6F;
	}

	&__button-prev::after {
		visibility: hidden;
	}
}

.slider-places {
	position: relative;
	width: 100%;
	height: 108px;
	margin-top: auto;

	&__wrap {
		max-width: 1305px;
		width: 100%;
		display: flex;
		justify-content: space-between;
	}

	&__place {
		display: flex;
		align-items: center;
		max-width: 417px;
		width: 100%;
		height: 108px;
		background: rgba(255, 255, 255, 0.1);
		border-radius: 6px;
		box-shadow: 0 0 2px 2px rgba(255, 255, 255, 0.1);
	}

	&__svg {
		margin: 0 28px 0 35px;
	}

	&__name {
		font-size: 20px;
		font-weight: 700;
		color: var(--text-white);
		margin-bottom: 4px;
	}

	&__subtitle {
		font-size: 14px;
		font-weight: 400;
		color: rgba(255, 255, 255, 0.3);
	}

	&__arrows {
		position: absolute;
		bottom: 67%;
		right: 10%;
	}

	&__button-prev::after,
	&__button-next::after {
		position: absolute;
		font-size: 20px;
		color: #686B6F;
	}

	&__button-next {
		top: 0;
		right: -65px;
	}

	&__button-next::before {
		top: 0;
		left: 0;
	}

	&__pagination {
		top: 70px;
		color: rgba(255, 255, 255, 0.3);
		display: flex;
		align-items: flex-end;
	}

	.swiper-pagination-total {
		font-family: 'Montserrat', sans-serif;
		font-size: 18px;
		font-weight: 600;
		color: rgba(255, 255, 255, 0.3);
		padding-left: 6px;
	}

	.swiper-pagination-current {
		font-family: 'Montserrat', sans-serif;
		font-weight: 600;
		font-size: 32px;
		color: #fff;
		padding-right: 6px;
	}
}

.activities {
	padding-top: 137px;
	padding-bottom: 100px;
	position: relative;
	background-color: #fff;
	height: 100vh;

	&::after {
		content: '';
		@include block();
		height: 500px;
		bottom: -10%;
		left: 0;
	}

	&__subtitle {
		@include subtitle();

	}

	&__title {
		@include title();
	}

	&__slider-wrap {
		position: relative;
		width: 100%;
		// padding-bottom: 98px;
	}

	&__slider {
		max-width: 1479px;
		width: 100%;
		margin: 0 auto;
	}

	&__slide {
		position: relative;
		margin-right: 25px;
	}

	&__content {
		position: absolute;
		bottom: 10%;
		left: 10%;
	}

	&__activity {
		font-size: 32px;
		color: var(--text-white);
	}

	&__number {
		font-size: 17px;
		font-weight: 500;
		color: var(--text-white);
	}

	&__slide-1 {
		background-image: url('/images/picture_1.jpg');
		background-repeat: no-repeat;
		background-size: contain;
		max-width: 351px;
		width: 100%;
		height: 620px;
	}

	&__slide-2 {
		background-image: url('/images/picture_2.jpg');
		background-repeat: no-repeat;
		background-size: contain;
		max-width: 351px;
		width: 100%;
		height: 620px;
	}

	&__slide-3 {
		background-image: url('/images/picture_3.jpg');
		background-repeat: no-repeat;
		background-size: contain;
		max-width: 351px;
		width: 100%;
		height: 620px;
	}

	&__slide-4 {
		background-image: url('/images/picture_4.jpg');
		background-repeat: no-repeat;
		background-size: contain;
		max-width: 351px;
		width: 100%;
		height: 620px;
	}

	&__button-prev {
		background-image: url('/images/arrow_left.svg');
		background-repeat: no-repeat;
		width: 43px;
		top: 50%;
		left: 4%;
	}

	&__button-next {
		background-image: url('/images/arrow_right.svg');
		width: 43px;
		background-repeat: no-repeat;
		top: 50%;
		right: 5%;
	}

	&__navigation {
		transform: translate(14px, 29px);
		font-size: 12px;
		font-weight: 700;
		letter-spacing: .15em;
		color: #2D2D2D;
	}

	.swiper-button-next::after,
	.swiper-button-prev::after {
		visibility: hidden;
	}


}



.background-1 {
	@include background();
	background-image: url('/images/background_1.jpg');
}

.background-2 {
	@include background();
	background-image: url('/images/background_5.jpg');
}

.visible {
	visibility: visible;
}

.about {
	padding-top: 98px;
	padding-bottom: 100px;
	margin-top: 1100px;
	background-color: #fff;
	position: relative;

	&::before {
		content: '';
		@include block();
		height: 400px;
		top: -11%;
		left: 0;
	}

	&::after {
		content: '';
		@include block();
		height: 400px;
		bottom: -10%;
		left: 0;
	}


	&__subtitle {
		@include subtitle();
	}

	&__title {
		@include title();
	}

	&__content {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	&__block-photo {
		margin-right: 93px;
		position: relative;
		max-width: 872px;
		width: 100%;
		height: 643px;

	}

	&__item-photo {
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		border-radius: 10px;
		// transform: translateX(-30%);
		transform: translateX(-50%);
		visibility: hidden;
		box-shadow: 0 60px 60px rgb(106 100 128 / 25%);
		transition: 1.2s ease-in-out;
		opacity: 0;
		z-index: 1;
	}

	&__photo-1 {
		background-image: url('/images/photo_1.jpg');
		background-size: contain;
		background-repeat: no-repeat;
	}

	&__photo-2 {
		background-image: url('/images/photo_2.jpg');
		background-size: contain;
		background-repeat: no-repeat;
	}

	&__photo-3 {
		background-image: url('/images/photo_3.jpg');
		background-size: contain;
		background-repeat: no-repeat;
	}

	&__photo {
		width: 100%;
		height: 100%;
	}

	&__block-text {
		max-width: 513px;
		width: 100%;
	}

	&__item-text {
		display: flex;
	}

	&__item-text:not(:last-child) {
		margin-bottom: 70px;
	}

	&__item-title {
		display: flex;
		flex-direction: column;
	}

	&__number {
		font-size: 26px;
		font-weight: 500;
		letter-spacing: .05em;
		color: #9B9B9B;
		margin-right: 40px;
	}

	&__item-text:hover .about__character,
	&__item-text:hover .about__number {
		text-shadow: 1px 1px 2px #000;
		// color: #6D6D6D;
		cursor: pointer;
		transition: all 0.5s;
	}

	&__character {
		font-size: 32px;
		font-weight: 700;
		color: #3D3D3D;
		padding-bottom: 20px;
	}

	&__text {
		font-size: 16px;
		font-weight: 500;
		color: #6D6D6D;
	}


}

.hotels {

	background-color: #fff;
	// margin-top: 1000px;
	padding-bottom: 114px;
	position: relative;
	height: 100vh;

	&::before {
		content: '';
		width: 100%;
		position: absolute;
		background-color: #f4f4f4;
		height: 55%;
		bottom: 0;
		left: 0;
		z-index: 1;
	}

	&::after {
		content: '';
		@include block();
		background-color: #f4f4f4;
		height: 400px;
		bottom: -12%;
		left: 0;
	}

	&__subtitle {
		@include subtitle();
		padding-top: 100px
	}

	&__title {
		@include title();

	}

	&__places {
		display: flex;
		justify-content: center;
		padding-bottom: 90px;

	}

	&__place {
		z-index: 4;
	}

	&__place:not(:last-child) {
		margin-right: 36px;
	}

	&__img {
		margin-bottom: 18px;
		width: 100%;
	}

	&__name-wrap {
		display: flex;
		align-items: center;
		margin-bottom: 14px;
	}

	&__name {
		font-size: 30px;
		font-weight: 700;
		text-transform: capitalize;
		margin-right: 35px;
	}

	&__price {
		font-size: 20px;
		font-weight: 500;
		color: #959595;
	}

	&__menu-wrap {
		display: flex;
		align-items: end;
		justify-content: center;

	}

	&__menu {
		display: flex;
		margin-right: 146px;
		z-index: 4;
	}

	&__item {
		position: relative;
	}

	&__item:not(:last-child) {
		margin-right: 111px;
	}

	&__details {
		font-size: 12px;
		letter-spacing: 3px;
		color: #9B9B9B;
		margin-bottom: 11px;
	}

	&__data-wrap {
		// position: relative;
	}

	&__info::before {
		content: '';
		background-image: url('/images/Vector.svg');
		position: absolute;
		top: 50%;
		right: 9%;
		display: block;
		width: 13px;
		height: 8px;
		background-repeat: no-repeat;
		background-size: contain;
	}

	&__info {
		position: relative;
		width: 321px;
		// width: 100%;
		height: 75px;
		border: 1px solid #DBDBDB;
		border-radius: 5px;
		padding: 27px 166px 22px 27px;
		font-size: 18px;
		font-weight: 500;
		letter-spacing: 1px;
		color: #4E4E4E;
	}



	&__submenu {
		position: absolute;
		top: 100px;
		display: none;
		max-width: 321px;
		width: 100%;
		border: 1px solid #DBDBDB;
		background-color: #FFF;
		font-size: 18px;
		font-weight: 500;
		letter-spacing: 1px;
		color: #4E4E4E;
	}

	&__subitem {
		padding: 14px 10px 14px 27px;
	}

	&__subitem:last-child {
		padding-bottom: 22px;
	}

	&__subitem:hover {
		background-color: #DBDBDB;
	}

	&__search {
		max-width: 261px;
		width: 100%;
		height: 75px;
		background-color: #3D3D3D;
		color: #fff;
		font-size: 18px;
		letter-spacing: 5px;
		z-index: 4;
		border-radius: 5px;
	}

}

.active {
	display: block;
}

.dropdown {
	box-sizing: border-box;
	opacity: 0;
	position: absolute;
	overflow: hidden;
	padding: 20px;
	border-radius: 2px;
	transition: all 0.5s;
	transform: translateY(50px);
	will-change: opacity;
	display: none;
	color: #000;
}

.trigger-enter .dropdown {
	display: block;
}

.trigger-enter-active .dropdown {
	opacity: 1;
}

.dropdownBackground {
	width: 100px;
	height: 100px;
	position: absolute;
	top: 0;
	left: 0;
	background: #fff;
	border-radius: 4px;
	box-shadow: 0 50px 100px rgba(50, 50, 93, .1), 0 15px 35px rgba(50, 50, 93, .15), 0 5px 15px rgba(0, 0, 0, .1);
	transition: all 0.3s, opacity 0.1s, transform 0.2s;
	transform-origin: 50% 0;
	display: flex;
	justify-content: center;
	opacity: 0;
}

.dropdownBackground.open {
	opacity: 1;
}

.arrow {
	position: absolute;
	top: 0;
	left: 10%;
	width: 20px;
	height: 20px;
	display: block;
	background: white;
	transform: translateY(-50%) rotate(45deg);
}

.network {
	background-color: #fff;
	margin-top: 1000px;
	position: relative;
	height: auto;
	padding-bottom: 228px;

	&::before {
		content: '';
		@include block();
		height: 400px;
		top: -11%;
		left: 0;
	}

	&__subtitle {
		@include subtitle();
	}

	&__title {
		@include title();
	}

	&__partners {
		display: flex;
		align-items: center;
		justify-content: center;
		margin-bottom: 180px;
	}

	&__partner:not(:last-child) {
		margin-right: 130px;
	}

	&__logo:hover {
		// background-color: #000;
		transform: scale(1.2, 1.2);
		transition: all 0.5s;
	}

	&__reviews-wrap {
		max-width: 1660px;
		width: 100%;
		height: auto;
		background-image: url('/images/background_review.jpg');
		background-size: contain;
		background-repeat: no-repeat;
		border-radius: 10px;
		padding: 148px 0 119px 0;
		margin: 0 auto;
	}


	&__reviews {
		display: flex;
		justify-content: center;

	}

	&__review {
		position: relative;
	}

	&__review::before {
		content: '“';
		position: absolute;
		font-family: 'Manrope', sans-serif;
		font-size: 60px;
		font-weight: 800;
		color: #FF9921;
		opacity: .4;
		top: 0;
		left: 10%;
		line-height: 98px;
		z-index: 3;
	}

	&__review::after {
		content: '';
		position: absolute;
	}

	&__review:not(:last-child) {
		margin-right: 51px;
	}

	&__text-wrap {
		position: relative;
		max-width: 350px;
		width: 100%;
		height: 192px;
		background-color: #fff;
		border-radius: 10px;
		display: flex;
		align-items: center;
		margin-bottom: 41px;
		padding-left: 37px;
		padding-right: 15px;
		color: #474747;
		font-family: 'Roboto', sans-serif;
		font-size: 12px;
		font-weight: 300;
		line-height: 2;
	}

	&__info-wrap {
		display: flex;
		align-items: center;
		color: #fff;
	}

	&__photo {
		margin-right: 16px;
	}

	&__name {
		font-family: 'Manrope', sans-serif;
		font-size: 18px;
		font-weight: 700;
	}

	&__job {
		font-family: 'Manrope', sans-serif;
		font-size: 14px;
		font-weight: 400;
	}
}

.footer {
	background-color: #f4f4f4;
	padding-top: 67px;

	&__logo-wrap {
		text-align: center;
		margin-bottom: 81px;
	}

	&__logo {
		background-color: #181818;
		width: 67px;
		height: 67px;
		border-radius: 50%;
		display: flex;
		align-items: center;
		justify-content: center;
		margin: 0 auto 21px;
	}

	&__name {
		font-family: 'Roboto', sans-serif;
		font-size: 24px;
		font-weight: 900;
		letter-spacing: 0.4em;
	}

	&__navigation {
		padding-bottom: 67px;
		position: relative;
	}

	&__navigation::after {
		content: '';
		display: block;
		position: absolute;
		background-color: #000;
		opacity: .4;
		max-width: 1110px;
		width: 100%;
		height: 0.5px;
		top: 100%;
		left: 17%;
	}

	&__list {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	&__item:not(:last-child) {
		margin-right: 65px;
	}

	&__link {
		font-size: 18px;
		color: #6D6D6D;
	}

	&__rights-wrap {
		padding-top: 66px;
		padding-bottom: 49px;
		display: flex;
		justify-content: space-between;
		max-width: 1479px;
		width: 100%;
		margin: 0 auto;
	}

	&__rights {
		font-family: 'Manrope', sans-serif;
		font-size: 16px;
		font-weight: 400;
		color: #6D6D6D;
	}

	&__refs {
		display: flex;
		gap: 16px;
	}

	&__ref {
		background-size: contain;
		background-repeat: no-repeat;
		width: 24px;
		height: 24px;
	}

	&__instagram {
		background-image: url('/images/footer_instagram.svg');
	}

	&__dribble {
		background-image: url('/images/footer_dribble.svg');
	}

	&__twitter {
		background-image: url('/images/footer_twitter.svg');
	}

	&__youtube {
		background-image: url('/images/footer_youtube.svg');
	}

}

.show {
	opacity: 1;
	// transform: translateX(0);
	transform: translateX(0);
	visibility: visible;
	// transition: all 0.5s;
	transition: 1.2s ease-in-out;
	z-index: 2;
}

@media (max-width: 1440px) {

	.header {

		&__item {
			font-size: 14px;
		}

		&__logo {
			width: 130px;
		}
	}

	.explore {

		&__wrap {
			padding-top: 270px;
		}

		&__subtitle-main {
			font-size: 24px;
		}

		&__title {
			font-size: 150px;
			display: flex;
			justify-content: center;
		}

		&__ref {
			font-size: 10px;
		}
	}

	.slider-places {

		&__wrap {
			max-width: 1095px;
		}

		&__place {
			max-width: 330px;
			height: 80px;
		}

		&__name {
			font-size: 16px;
		}

		&__subtitle {
			font-size: 10px;
		}

		.swiper-pagination-total {
			font-size: 18px;
		}

		.swiper-pagination-current {
			font-size: 24px;
		}

		&__button-next::after,
		&__button-prev::after {
			font-size: 14px;
		}
	}
}